/* 确认版心 */
.w{
    width: 1200px;
    margin:0 auto;
}
.shortcut{
    width: 100%;
    height: 30px;
    background-color: #f1f1f1;
}
.shortcut-content{
    height: 30px;
}
.login-nar{
    float: left;
    color: #666666;
    font-size: 12px;
    line-height: 30px;
    width: 220px;
    height: 100%;
    /* background-color: pink; */
    font-family: "微软雅黑";
}
.login-nar > div{
    float: left;
}
.order-nar{
    float: right;
    color: #666666;
    font-size: 12px;
    line-height: 30px;
    width: 660px;
    height: 100%;
    /* background-color: pink; */
}
.login-nar-2{
    margin-left: 15px;
    margin-right: 15px;
}
.login-nar-3 a{
    color: #c81623;
}
/* 右侧导航 */

.shortcut-content .order-nar .order-nar-content{
    float: left;
    height: 100%;
    padding: 0px 16px;
}
.shortcut-content .order-nar div{
    float: left;
}

/* 品优购图标 */
.search-nar{
    height: 106px;
    width: 1200px;
    margin: 0 auto;
    position: relative;
    /* background-color: pink; */
    
}
/* logo制作 */
.search-nar .logo1{
    width: 219px;
    height: 106px;
    float: left;
    background-image: url('../images/logo1.png');
    text-indent: -9999px;
    overflow: hidden;
}

.search-nar .search-text{
    float: left;
    margin-left: 128px;
    margin-top: 27px;
    font-size:16px;
    border: 2px solid #b1191a;
}
.search-text .search-bar1{
    width: 460px;
    height: 35px;
    border: 0px;
    outline: none;
    float: left;
    color: #adadad;
    padding-left: 14px;

}
.search-text .search-bar2{
    width: 80px;
    height: 35px;
    background-color: #b1191a;
    float: left;
    margin-left: -2px;
    border: 0px;
    color:  #faf4f4 ;
    
}
.search-nar .hotwords{
    position: absolute;
    top: 65px;
    left: 348px;
}
.search-nar .hotwords a{
    padding: 10px;
    font-size: 12px;
    color:#666666 ;
}
.search-nar .shop-cart{
    position: relative;
    float: left;
    width: 138px;
    height: 35px;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;
    font-size:12px;
    color: #666666;
    line-height: 35px;
    margin-left: 110px;
    margin-top: 27px;
    font-family: 'icomoon';
    margin-left: 110px;
    margin-top: 27px;
}

.shop-cart .cart-logo{
    float: left;
    margin-top: 11px;
    margin-left: 19px;
}
.shop-cart .my-cart{
   margin-left: 8px;
}
.shop-cart .eight{
    position: absolute;
    left: 105px;
    top: -5px;
    height: 14px;
    padding: 0px 5px;
    background-color: red;
    line-height: 14px;
    color: #ffffff;
    border-radius: 7px 7px 7px 0;
}
.shop-cart::after{
    content: '\e920';
    vertical-align: middle;
}
/* 开头分类 */
.category{
    width: 1200px;
    height: 48px;
    /* background-color: pink; */
    margin: 0 auto;
    color:#333333 ;
    font-size: 16px;
    line-height: 48px;
}
.category .dropdown{
    float: left;
    width: 210px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    font-size: 16px;
    background-color: #b1191a;
    color: #ffffff;
}

.category >ul> a{
    padding: 0px 30px;
}
hr{
    border: 0px;
    height: 2px;
    background-color: #b1191a;
}
/* 侧分类 */

.dropdown .dd{
    text-align: left;
    width: 210px;
    height: 465px;
    background-color: #c81623;
    /* float: left; */
    /* display: none;  */
}
.dropdown .dd li{
    padding: 0px 0px 0px 10px;
    height: 31px;
    line-height: 31px;
    margin-left: 2px;
}
.dropdown .dd a{
    color: #ffffff;
    font-size: 14px;
}

.dropdown .dd li:hover{
    background-color: #ffffff;
}
.dropdown .dd li::after{
    font-family: 'icomoon';
    content: '\e920';
    float: right;
    margin-right: 10px;
}
.dropdown .dd li:hover a,
.dropdown .dd li:hover::after{
    color:#c81623;
}


.footer{
    height: 415px;
    background-color: #f5f5f5;
    padding-top: 30px;
}
.mod_service{
    height: 80px;
    padding: 0px ;
    border-bottom: 1px solid #ededed;
}
.mod_service li{
    height: 50px;
    width: 240px;
    float: left;
    background-color: yellow;
    padding-left: 35px;
    
}
.mod_service li h5{
    width: 50px;
    height: 50px;
    float: left;
    background: url('../images/icons.png') no-repeat -252px -2px;
    margin-right: 8px;
}