/* 确认版心 */
.w{
    width: 1200px;
    margin:0 auto;
}
.shortcut{
    width: 100%;
    height: 30px;
    background-color: #f1f1f1;
}
.shortcut-content{
    height: 30px;
}
.login-nar{
    float: left;
    color: #666666;
    font-size: 12px;
    line-height: 30px;
    width: 220px;
    height: 100%;
    /* background-color: pink; */
    font-family: "微软雅黑";
}
.login-nar > div{
    float: left;
}
.order-nar{
    float: right;
    color: #666666;
    font-size: 12px;
    line-height: 30px;
    width: 660px;
    height: 100%;
    /* background-color: pink; */
}
.login-nar-2{
    margin-left: 15px;
    margin-right: 15px;
}
.login-nar-3 a{
    color: #c81623;
}
/* 右侧导航 */

.shortcut-content .order-nar .order-nar-content{
    float: left;
    height: 100%;
    padding: 0px 16px;
}
.shortcut-content .order-nar div{
    float: left;
}

/* 品优购图标 */
.search-nar{
    height: 106px;
    width: 1200px;
    margin: 0 auto;
    position: relative;
    /* background-color: pink; */
    
}
.search-nar .logo1{
    width: 219px;
    height: 106px;
    float: left;
}
.search-nar .search-text{
    float: left;
    margin-left: 128px;
    margin-top: 27px;
    font-size:16px;
    
}
.search-text .search-bar1{
    width: 460px;
    height: 35px;
    border: 2px solid #b1191a;
    float: left;
    color: #adadad;
    padding-left: 14px;

}
.search-text .search-bar2{
    width: 84px;
    height: 35px;
    background-color: #b1191a;
    float: left;
    margin-left: -2px;
    border: 2px solid #b1191a;
    color:  #faf4f4 ;
    
}
.search-nar .hotwords{
    position: absolute;
    top: 65px;
    left: 348px;
}
.search-nar .hotwords a{
    padding: 5px;
    font-size: 12px;
    color:#666666 ;
}
.search-nar .shop-cart{
    position: relative;
    float: left;
    width: 138px;
    height: 35px;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;
    font-size:12px;
    color: #666666;
    line-height: 35px;
    margin-left: 110px;
    margin-top: 27px;
    font-family: 'icomoon';
    margin-left: 110px;
    margin-top: 27px;
}

.shop-cart .cart-logo{
    float: left;
    margin-top: 11px;
    margin-left: 19px;
}
.shop-cart .my-cart{
   margin-left: 8px;
}
.shop-cart .eight{
    position: absolute;
    right: 20px;
    top: -5px;
}
/* 开头分类 */
.category{
    width: 1200px;
    height: 48px;
    /* background-color: pink; */
    margin: 0 auto;
    color:#333333 ;
    font-size: 16px;
    line-height: 48px;
}
.category i{
    float: left;
    width: 210px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    font-size: 16px;
    background-color: #b1191a;
    color: #ffffff;
}

.category a{
    padding: 0px 30px;
}
hr{
    border: 0px;
    height: 2px;
    background-color: #b1191a;
}
/* 侧分类 */

.body-top .side-cate{
    width: 210px;
    height: 514px;
    background-color: #c81623;
    float: left;
}
.body-top .side-cate li{
    padding: 0px 0px 0px 12px;
    font-size: 14px;
    height: 34px;
    line-height: 34px;
}
.body-top .side-cate a{
    color: #ffffff;
}
.body-top img{
    margin-left: 9px;
    margin-top: 9px;
    float: left;
}
.body-top .side-cate a::after{

}
.body-top .newflash{
    float: left;
    width: 251px;
    height: 372px;
    margin-left: 9px;
    margin-top: 9px;
}
.body-top .newflash .newflash1{
    width: 251px;
    height: 163px;
    background-color: pink;
}
.body-top .newflash .newflash2{
    width: 250px;
    height: 210px;
    background-color: pink;
}
.body-top .newflash .newflash2 li{
    width: 62.5px;
    height: 70px;
    border: 1px solid #e8e8e7;
    float: left;
}